:root{
    --white--font:#ffffff; /*Fontes Branca*/
    --color--bottom:#080808; /*Cor de fundo*/
    --light--blue:#16a9d6; /*Hiperlinks*/
    --very--light--blue:#83d2de; /*Botões*/
    --black: #000000; 
}